/* CSS Modified */

#overlay{
  /*height: 100vh; */
  width: 100vw;
}

.container-fluid {
  padding: 0px;
}

.nav-link {
  color: white; 
  font-size: 18px; 
  position: relative;
  }
  
.nav-link:hover {
  color: #c2d0ff;
  }

.padding {
  width: 50px; 
  padding: 10px;
}

#name {
  font-size: 30px;
  color: rgb(99, 141, 113);
  background-color: white;
  align-content: center;
  justify-content: center;
  text-align: center;
}

#title {
  font-size: 24px;
  color: #c2d0ff;
  background-color: white;
  align-content: center;
  justify-content: center;
  text-align: center;
}

#shortname {
  font-size: 30px;
  color: white;
  background-color: rgb(99, 141, 113);
  align-content: center;
  justify-content: center;
  text-align: center;
}

#signature {
  text-align: left;
  color: rgb(230, 191, 95);
  background-color: rgb(99, 141, 113);
}
