/* CSS Modified */

.nav-link {
  color: white; 
  font-size: 18px; 
  position: relative;
  }
  
.nav-link:hover {
  color: #c2d0ff;
  fill: #c2d0ff;
  }

.padding {
  width: 50px; 
  padding: 10px;
}

#signature {
  text-align: left;
  color: rgb(203, 161, 53);
  background-color: rgb(99, 141, 113);
}
