/* CSS Modified */

.nav-item{
  position: relative;
}

nav a:hover{ 
	background-color: #ffffff; 
	color: #000000; 
}

.padding {
  width: 50px; 
  padding: 10px;
}

#signature {
  text-align: left;
  color: rgb(203, 161, 53);
  background-color: rgb(99, 141, 113);
}
